[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
imutils = "*"
opencv-contrib-python = "*"
pillow = "*"

[dev-packages]
black="*"

[requires]
python_version = "3.9"

[scripts]
add_webcam = "python src/main.py --add_webcam --name nombre_persona"
add_galery = "python src/main.py --add_galery --name nombre_persona"

recognize_webcam = "python src/main.py --recognize_webcam"
recognize_galery = "python src/main.py --recognize_galery"

train_model = "python src/main.py --train"